RewriteEngine On
RewriteBase /2011_2012/emedia_med2d_t5/mailsystem/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /2011_2012/emedia_med2d_t5/mailsystem/index.php [L]

# RewriteRule ^abonneer/([^/]+) 		index.php?view=abonneer&type=$1
# RewriteRule ^abonneer/([^/]+)/ 		index.php?view=abonneer&type=$1